
.services {
 width: 80%; 
 display: block; 
 margin: auto;
 background: var(--blue-3); 
 border-radius: 2em;
 padding-top: 2em; 
 padding-bottom: 3em; 
 box-shadow: 0px 0px 2px var(--dark-blue);
 margin-top: 2em; 
}

.services__heading {
 font-size: 2.8em;
 text-align: left;
 margin-top: 0;
 margin-bottom: 0; 
 width: 100%;
 padding-bottom: 2rem;
 margin-left: 1.5em; 
}

.services__service {
 width: 80%;
 text-align: left;
 display: block; 
 margin: auto;
 font-size: 0.8em; 
}

.services__service-header {
 font-size: 2em;
 margin-bottom: 0.5em; 
}

.services__service-paragraph {
 color: var(--dark-gray);
}

.services__services {
 display: grid;
 grid-template-columns: auto auto; 
 grid-template-rows: auto auto; 
}

.pricing {
 text-align: center; 
 width: 80%; 
 height: max-content; 
 display: block; 
 margin: auto; 
 margin-top: 7em;
 background: white; 
 border-radius: 2em; 
 padding: 2em;
 box-sizing: border-box;
 box-shadow: 0px 0px 2px var(--blue-1);
 animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
 from {
  opacity: 0; 
 }
 to {
  opacity: 1;
 }
} 

.pricing__heading {
 font-size: 2.5em;
 margin-top: 0;  
}

.pricing__options {
 width: 100%; 
 border-radius: none; 
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
 background-color: #F4F4F4;
 opacity: 0.7;
 margin-bottom: 1em; 
}

.pricing__option {
 display: inline-block;
 width: 100%;
 padding: 1em;
 background: white; 
 border: none;
 font-family: var(--main-font);
 font-size: 1rem;
 opacity: 0.4;
 border-bottom: 4px solid #C4C4C4; 
 border-top: 2px solid #C4C4C4;
 text-align: center; 

 & i {
  color: var(--blue-1);
  margin-right: 1em; 
  font-size: 1.2em; 
 }
}

.pricing__option--selected {
 display: inline-block;
 width: 100%;
 padding: 1em;
 background: white; 
 border: none;
 font-family: var(--main-font);
 font-size: 1rem;
 opacity: 1;
 border: 2px solid #C4C4C4; 
 border-bottom: 4px solid #C4C4C4; 

 & i {
  color: var(--blue-1);
  margin-right: 1em; 
  font-size: 1.2em; 
 }
}

.pricing__info {
 width: calc(100% + 2px); 
 height: min-content;
 display: grid;
 grid-gap: 2em; 
 grid-template-columns: 1fr 1fr;
 align-items: center;
 justify-content: center; 
 background: #f5f5f5;
 border-top-color: white; 
 border-bottom-left-radius: 1em;
 border-bottom-right-radius: 1em;
 padding: 2em; 
 box-sizing: border-box;
 font-size: 0.7em;
 white-space: nowrap; 
}

.pricing__features {
 text-align: center;
 display: block; 
 border-radius: 1em;
 padding: 1rem;
 background: white; 
 box-shadow: 0px 0px 2px gray;
 height: 26em;
 box-sizing: border-box; 
}

.pricing__features-heading {
 margin-top: 0; 
 font-size: 2.5em;
}

.pricing__feature {
  color: black;
  background: var(--blue-3);
  padding: 0.7em;
  text-align: center;
  border-radius: 0.5em; 

 & i {
  color: var(--blue-1);
  margin-right: 1rem;
  font-size: 1.5em;
  float: left; 
 }
}

.pricing__feature--disabled {
  color: black;
  background: var(--blue-3);
  padding: 0.7em;
  text-align: center;
  border-radius: 0.5em;
  opacity: 0.3;

 & i {
  color: var(--blue-1);
  margin-right: 1rem;
  font-size: 1.5em;
  float: left; 
 }
}

.pricing__checkout {
 display: block;
 width: 100%;
 vertical-align: top;
 border-radius: 1em;
 padding: 1rem;
 background: white; 
 box-sizing: border-box; 
 box-shadow: 0px 0px 2px gray; 
 height: 26em;

 & small {
  font-size: 1em; 
 }
}

.pricing__payment-methods {
 font-size: 2em;
 display: block; 
 margin: auto; 
 margin-top: 1em;
 text-align: center;
 width: min-content;
 white-space: nowrap;
 color: #999999;

 & i:nth-child(2) {
  margin-left: 1em; 
 }
}

.pricing__price {
 color: var(--dark-gray);
 font-size: 4em;
 margin: 0; 
}

.pricing__name {
 font-size: 2.5em;
 border-top: 1px solid gray; 
 padding-top: 0.5em;
 width: max-content;
 display: block; 
 margin: auto; 
 margin-top: 0.5em; 
 text-align: center; 
}

.pricing__button {
 background-color: var(--blue-1);
 color: white;
 border: none; 
 font-family: var(--main-font);
 padding: 1em; 
 border-radius: 1em;
 padding-left: 5em; 
 padding-right: 5em; 
 transition: background-color 0.3s ease;
 margin-top: 1em;
 white-space: nowrap; 

 & i {
  margin-left: 1em; 
 }
}

.pricing__button:hover {
 background-color: var(--dark-blue);
 }

@media all and (max-width: 1120px) {
 .pricing__info {
  grid-template-columns: 100%; 
  grid-template-rows: 1fr 1fr; 
 }

 .pricing__features, .pricing__checkout {
   width: 100% !important; 
 }
}

@media all and (max-width: 550px) {
 .pricing, .services {
  width: calc(95% - 2em);
  padding: 1em; 
  box-sizing: border-box; 
 }

 .services__heading {
  width: 100%; 
  text-align: center;
  margin-left: 0; 
 }

 .pricing__button {
  font-size: 0.7rem;
  padding-left: 0; 
  padding-right: 0; 
  width: 100%; 
 }

 .pricing__feature {
  white-space: wrap; 
 }

 .pricing__checkout, .pricing__features {
  height: max-content; 
 }
}

@media all and (max-width: 700px) {
 .pricing__option, .pricing__option--selected {
  font-size: 0.8em; 
 }
}

@media all and (max-width: 1000px) {
 .services__services {
  grid-template-rows: auto auto auto auto; 
  grid-template-columns: 100%; 
 }
}
